@font-face {
  font-family: 'Hurme Geometric Sans 4';
  src: url('https://github.com/catgilchrist1234/axurefonts/blob/main/Hurme%20Geometric%20Sans%204-normal-400-100.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
