@font-face {
  font-family: 'Hurme Geometric Sans 4';
  src: url('https://github.com/catgilchrist1234/axurefonts/blob/dfe06a5598ad5fb0c13fdf43099d2a7a881156d8/Hurme%20Geometric%20Sans%204-normal-400-100.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}